
{{ partial "header.html" . }}
	<main>
		<article class="container animateOutUp">
			<h1>{{ .Title }}</h1>
			<div>
				<ul class="postsummary">
					{{ range .Site.Pages }}
					<br>
					<li>
						<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
						<br>
						<span class="meta">
							Categories: 
							{{ range .Params.categories }}
								<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
							{{ end }}
							&nbsp; &bull; &nbsp;
							Tags: 
							{{ range .Params.tags }}
								<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
							{{ end }}
						</span>
						<br><br>
						{{ .Summary }}
						<br><br>
						<a class="btn" href="{{ .Permalink }}">Read</a>
					</li>
					<hr>
					{{ end }}
				</ul>
			</div>
		</article>
	</main>
{{ partial "footer.html" . }}
