{{ if gt $.Paginator.TotalPages 1 }}
  <ul class="pagination">
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        {{ if .Paginator.HasPrev }}
          <li class="page-item">
            <a class="page-link" rel="prev" href="{{ .Site.BaseURL }}{{.Paginator.Prev.URL}}">
                « Newer
            </a>
          </li>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <li class="page-item">
            <a class="page-link" rel="next" href="{{ .Site.BaseURL }}{{.Paginator.Next.URL}}">
                Older »
            </a>
          </li>
        {{ end }}
    {{ end }}
  </ul>
{{ end }}
