body {
	font-family: 'Vollkorn', Georgia, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Vollkorn', Georgia, serif;
	font-weight: bold;
}
.alert {
    border-radius: 4px;
    background-color: pink;
    border: 1px solid red;
    padding: 20px;
}
.alert a {
    color: blue;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px){
    .container {
        width: 80vw;
        max-width: 1170px;
        margin: 0 auto;
    }
}