@font-face {
  font-family: 'skybird';
  src: url("/fonts/Skybird-Regular.woff2") format("woff2"); }

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

html {
  font-size: 16px; }

body {
  background: linear-gradient(rgba(247, 235, 193, 0.2), rgba(247, 235, 193, 0.8)), url("/img/fancybg-light.jpg");
  background-blend-mode: multiply;
  background-attachment: fixed;
  font-size: 110%;
  font-family: "system"; }

header.site-header,
section.quote {
  background: linear-gradient(rgba(51, 31, 51, 0.8), rgba(51, 31, 51, 0.95)), url("/img/fancybg-light.jpg");
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat; }

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-family: 'skybird', serif;
  word-break: break-word;
  color: #333333; }

h1,
h2,
h3,
blockquote {
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 0; }

h3 {
  margin-top: 1.6em; }

h2 a {
  text-decoration: none; }

h4 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 120%; }

p {
  font-size: 110%;
  line-height: 1.4em; }

strong {
  line-height: 1.2em; }

a {
  color: #4f4f4f; }
  a:hover, a:active {
    color: #878787; }

i {
  font-style: italic; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

hr {
  border: 1px solid #331F33;
  margin: 2em 0 0; }

.quote blockquote {
  color: white;
  font-size: 1.8em;
  margin: 0; }

.quote blockquote small {
  display: block; }

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  background: #331F33;
  color: white;
  border-width: 0; }
  .btn:hover, .btn:active, .btn:focus {
    background: #724672; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

@media (min-width: 992px) {
  body,
  header.site-header,
  section.quote {
    background-size: cover; } }

body {
  margin: 0; }

.container {
  padding: 1% 1em; }

article h1 {
  margin-bottom: 0;
  font-size: 1.8em; }

.entry-title {
  line-height: 1.6em; }

.container {
  padding-left: 15px;
  padding-right: 15px; }

.postsummary {
  list-style-type: none;
  padding-left: 0; }

li {
  line-height: 1.6; }

@media (min-width: 781px) {
  .jumbo {
    padding-top: 10%; } }

@media (min-width: 768px) {
  .container {
    max-width: 80vw;
    margin-left: 10vw; } }

@media (max-width: 780px) {
  .quote {
    padding-top: 4%; } }

@media (min-width: 992px) {
  .container {
    max-width: 42vw;
    margin-left: 20vw; } }

.title h1 a,
.bannertext a {
  color: #F7EBC1;
  font-weight: 700;
  margin-bottom: 1%;
  text-decoration: none; }

.bannertext {
  font-size: 2em; }

.jumbo h1 {
  margin-bottom: 0;
  line-height: 160%; }

.jumbo h2 {
  text-transform: lowercase;
  font-weight: 400;
  color: white;
  font-size: 130%;
  line-height: 160%;
  margin-top: 0; }

nav.primary {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  nav.primary ul {
    padding-left: 0; }
  nav.primary li {
    list-style-type: none;
    display: inline; }
  nav.primary a {
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    display: inline-block; }
    nav.primary a:hover, nav.primary a:active, nav.primary a:focus {
      background-color: rgba(255, 255, 255, 0.5);
      color: black; }

@media (min-width: 768px) {
  .jumbo h1 > a {
    font-size: 1.3em; } }

@media (min-width: 992px) {
  .jumbo h1 > a {
    font-size: 1.5em; } }

pre {
  padding: 3% 1.1em;
  color: white;
  background-color: #331F33;
  overflow: auto; }

code {
  background-color: #331F33;
  color: white;
  padding: 0.3% 0.4em;
  line-height: 1.4; }

.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  list-style-type: none; }

footer.site-footer {
  background-color: #333333;
  color: white; }

footer.site-footer a {
  color: white; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-80px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(-80px); } }

@keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(20px); } }

.animated {
  opacity: 0; }

header.title > .container {
  animation: fadeInUp ease-in-out 1s both; }

.animateInDown {
  animation: fadeInUp ease-in-out 1s both; }

main {
  animation: fadeInDown ease-in-out 1s both; }

.outUp {
  animation: fadeOutUp ease-in-out 0.5s forwards; }

.outDown {
  animation: fadeOutDown ease-in-out 0.5s forwards; }

form#contactform {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

@media (min-width: 768px) {
  form#contactform {
    max-width: 80%; }
  input.btn {
    width: 100px; } }

aside.bunnies {
  display: none; }

@media (min-width: 1024px) {
  aside.bunnies {
    display: block;
    position: fixed;
    width: 35vw;
    height: auto;
    right: 0;
    bottom: -5px; }
  #tree-summer,
  #rabbit-0,
  #rabbit-1,
  #rabbit-3,
  #rabbit-4,
  #rabbit-5,
  #rabbit-6,
  #rabbit-8 {
    opacity: 0; }
  #tree-winter,
  #tree-roots {
    opacity: 0.6; } }

/*# sourceMappingURL=deliciousreverie.css.map */