@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);

  }
}
.animated {
	opacity: 0;
}
header.title {

	> .container {
		animation: fadeInUp ease-in-out 1s both;
	}
}
.animateInDown {
  animation: fadeInUp ease-in-out 1s both;
}
main {
	animation: fadeInDown ease-in-out 1s both;
}
.outUp {
  animation: fadeOutUp ease-in-out 0.5s forwards;
}
.outDown {
  animation: fadeOutDown ease-in-out 0.5s forwards;
}
