$background: #f7ebc1;
$main: #333333;
$accentgreen: #331f33;
$accentpurple: #1f2d33;
$hilightyellow: #edd77b;
$bezier: ease-in-out;

@import "colourntype.scss";
@import "layout.scss";
@import "header.scss";
@import "code.scss";
@import "footer.scss";
@import "animations.scss";
@import "forms.scss";
@import "tables.scss";
@import "watershipdown.scss";
