pre {
  padding: 3% 1.1em;
  color: white;
  background-color: $accentgreen;
  overflow: auto;
}

code {
  background-color: $accentgreen;
  color: white;
  padding: 0.3% 0.4em;
  line-height: 1.4;
}
