body {
  margin: 0;
}
.container {
    padding: 1% 1em;
}
article h1 {
  margin-bottom: 0;
  font-size: 1.8em;
}
.entry-title {
  line-height: 1.6em;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.postsummary {
  list-style-type: none;
  padding-left: 0;
}
li {
  line-height: 1.6;
}
@media (min-width: 781px) {
  .jumbo {
    padding-top: 10%;
  }
}
@media (min-width: 768px){

  .container {
    max-width: 80vw;
    margin-left: 10vw;
  }
}
@media (max-width: 780px) {
  .quote {
    padding-top: 4%;
  }
}
@media (min-width: 992px){

  .container {
    max-width: 42vw;
    margin-left: 20vw;
  }
}
