{{ partial "head" . }}
<main id="main">
    <div class="container animateOutUp">
    {{ if isset .Site.Params.showBlogHeader true }}
        <header>
          {{ partial "content/h1-title" . }}
          <span>{{ .Site.Data.Strings.lastupdate }}:
            <time datetime="{{ .Site.LastChange.Format "2006-01-02T15:04:05Z07:00" }}">
              {{ .Site.LastChange.Format .Site.Data.Formats.datetime }}
            </time>
          </span>
        </header>
    {{ end }}
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $paginator.Pages }}
          {{ .Render "summary" }}
        {{ end }}

        {{ partial "content/pagination" . }}
          {{ partial "content/sidebar" . }}
  </div>
</main>
{{ partial "foot" . }}
